* {
  line-height: 1.6 !important;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4.5rem;
}
h3 {
  font-size: 3.9rem;
}
h4 {
  font-size: 3.3rem;
}
h5 {
  font-size: 2.8rem;
}
p,
a,
b,
i,
span,
li {
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
}
a {
  text-decoration: none;
}
header {
  width: 100%;
  height: 80px;
  background: #003b36;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 800px) {
  header {
    display: none;
  }
}
header nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
header #home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 50px;
}
header p {
  color: #ffffff;
}
header a {
  margin-right: 50px;
}
header img {
  width: 55px;
}
header button {
  background-color: #5bba6f;
  padding: 7px 20px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
header button:hover {
  background: #e6e8e6;
  color: #003b36;
}
.mobileHeader {
  display: none;
  background-color: transparent;
}
@media (max-width: 800px) {
  .mobileHeader {
    display: block;
  }
}
.mobileHeader .collapsible-menu {
  background-color: #003b36;
  padding: 10px 0 10 50px;
  border-bottom: 3px solid #eee;
  font-size: 3rem;
  display: block;
  cursor: pointer;
  /********************/
}
.mobileHeader .collapsible-menu label {
  padding-left: 55px;
  font-family: 'Lato', sans-serif;
  color: black;
  background: url(https://image.flaticon.com/icons/svg/462/462998.svg) no-repeat left center;
  margin-left: 10px;
  filter: invert(1);
}
.mobileHeader .collapsible-menu input:checked ~ label {
  background: url(https://image.flaticon.com/icons/svg/151/151882.svg) no-repeat left center;
}
.mobileHeader .collapsible-menu input:checked ~ .menu-content {
  max-height: 100%;
}
.mobileHeader .collapsible-menu #menu {
  display: none;
}
.mobileHeader .collapsible-menu .menu-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 0 0 50px;
}
.mobileHeader .collapsible-menu .menu-content ul {
  list-style-type: none;
  padding-bottom: 20px;
  color: #ffffff;
}
.mobileHeader .collapsible-menu .menu-content ul a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
}
.header-image {
  width: 100%;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.container .banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
  background: black url('/images/banner_image.jpg');
  background-size: cover;
  position: relative;
  z-index: -1;
}
@media (max-width: 800px) {
  .container .banner-container {
    margin-top: -29px;
  }
}
@media (max-width: 500px) {
  .container .banner-container {
    padding: 30px;
    line-height: 1px;
  }
}
.container .banner-container h1 {
  color: #ffffff;
  z-index: 1;
  margin: 0 5px;
}
.container .banner-container h5 {
  color: #ffffff;
  z-index: 1;
}
.container .banner-container .banner-color-overlay {
  width: 100%;
  height: 100%;
  background: #003b36;
  opacity: 0.7;
  position: absolute;
}
.container .banner-container .header-cta {
  margin-top: 40px;
  padding: 0.8% 1.5%;
  width: 10%;
  background-color: #003b36;
  color: white;
  font-family: Lato, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  z-index: 1;
}
@media (max-width: 800px) {
  .container .banner-container .header-cta {
    width: 20%;
    padding: 1.8% 2%;
  }
}
@media (max-width: 500px) {
  .container .banner-container .header-cta {
    width: 30%;
    padding: 1.8% 2%;
  }
}
.container .trackify {
  width: 80%;
  margin: 5rem auto 0 auto;
}
.container .all-teams {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  margin: 8rem auto;
}
.container .all-teams .meet-the-team {
  margin: 5rem auto;
}
@media (max-width: 500px) {
  .container .all-teams .meet-the-team {
    margin: 2rem auto;
  }
}
.container .all-teams .meet-the-team p {
  color: #5bba6f;
}
.container .all-teams .team-lead {
  width: 40%;
  margin: 10rem auto;
  padding: 2rem 3rem;
  text-align: left;
  border: 1px solid #e6e8e6;
}
@media (max-width: 800px) {
  .container .all-teams .team-lead {
    width: 70%;
    margin: 10rem auto;
  }
}
@media (max-width: 500px) {
  .container .all-teams .team-lead {
    width: 90%;
    margin: 8rem auto;
  }
}
.container .all-teams .team-lead .team-lead-photo {
  width: 30%;
  height: 10%;
  border-radius: 50%;
  margin-left: 105px;
  margin-top: -73px;
}
@media (max-width: 800px) {
  .container .all-teams .team-lead .team-lead-photo {
    margin-left: 139px;
    margin-top: -73px;
  }
}
@media (max-width: 500px) {
  .container .all-teams .team-lead .team-lead-photo {
    margin-left: 115px;
    margin-top: -73px;
  }
}
.container .all-teams .team-lead .team-lead-image {
  width: 80%;
  border-radius: 50%;
}
.container .all-teams .team-row {
  display: flex;
  margin: 5rem 0;
}
@media (max-width: 800px) {
  .container .all-teams .team-row {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
}
.container .all-teams .team-row .team-member {
  margin: 0 auto;
  padding: 1rem 1rem;
  text-align: left;
  border: 1px solid #e6e8e6;
}
@media (max-width: 800px) {
  .container .all-teams .team-row .team-member {
    width: 70%;
    margin: 6rem auto;
  }
}
@media (max-width: 500px) {
  .container .all-teams .team-row .team-member {
    width: 90%;
    margin: 5rem auto;
  }
}
.container .all-teams .team-row .team-member h3 {
  color: green;
  letter-spacing: -4px;
}
.container .all-teams .team-row .team-member h5 {
  letter-spacing: -1px;
  font-size: 2.4rem;
}
.container .all-teams .team-row .team-member .team-member-photo {
  width: 30%;
  height: 10%;
  border-radius: 50%;
}
.container .all-teams .team-row .team-member .team-member-image {
  width: 80%;
  border-radius: 50%;
  margin-left: 148px;
  margin-top: -73px;
}
@media (max-width: 800px) {
  .container .all-teams .team-row .team-member .team-member-image {
    margin-left: 139px;
    margin-top: -73px;
  }
}
@media (max-width: 500px) {
  .container .all-teams .team-row .team-member .team-member-image {
    margin-left: 115px;
    margin-top: -73px;
  }
}
.container .all-teams .team-row .social {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem;
}
.container .all-teams .team-row .social a:hover {
  color: #ffffff;
}
.container .products-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 9rem;
}
@media (max-width: 500px) {
  .container .products-services {
    padding: 0 6rem;
  }
}
.container .products-services h2 {
  color: #5bba6f;
}
.container .products-services .products-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.container .products-services .products-section .middle-product {
  width: 100%;
}
@media (max-width: 500px) {
  .container .products-services .products-section .middle-product {
    display: none;
  }
}
.container .get-started {
  padding: 10rem 0;
  color: #ffffff;
  background-color: #5bba6f;
  text-align: center;
  background: radial-gradient(linear, #002407 49%, #05622f 100%, #02a09f 100%, #00d4ff 100%);
}
.container .get-started button {
  margin-top: 40px;
  padding: 0.8% 1.5%;
  width: 10%;
  background-color: #003b36;
  color: white;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  z-index: 1;
}
@media (max-width: 800px) {
  .container .get-started button {
    width: 20%;
    padding: 1.8% 2%;
  }
}
@media (max-width: 500px) {
  .container .get-started button {
    width: 30%;
    padding: 1.8% 2%;
  }
}
.team-member:hover {
  background-color: #5bba6f;
  color: #ffffff;
}
footer {
  width: 100%;
  min-height: 30vh;
  background: #003b36;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer * {
  color: #ffffff;
}
footer a {
  margin-bottom: 10px;
}
footer div {
  border: 2px solid #ffffff44;
  cursor: pointer;
  margin-bottom: 20px;
}
footer img {
  padding: 4px;
  height: 55px;
  filter: invert(1);
}
