main {
    padding: 0 5%;
    // height: 2000px;
    width:100%;
  }
.banner{
    .flex();
    background: url(../images/deskPhoto.jpg) 100%/cover fixed no-repeat;
    height: 100vh;
    width:100%;
    text-align: center;
    div{
        background-color: #3339;
        .flex(@direction:column);   
        h1{
            color: @green;
            font-weight: bolder;
        }
        h2, h3{
            color: @grey;
            font-weight: bold;
        }
        button{
            width:fit-content;
            margin:3%;
            border-radius: 30px;
            background-color: @grey;
            border: none;
            white-space: nowrap;
            cursor: pointer;
        }
        a{
            cursor: pointer;
        }
    }
}
.upload{
    width:100%;
}
.images{
    width:100%;
}
.search{
    width:100%;
    height:50vh;
    .flex(@justify:flex-start;);
    .text{
        .flex(@direction:column);
        width:50%;
        height:50vh;
    }
    .notebook{
        width:50%;
        height:40vh;
        background: url(../images/notebook.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        padding-top: 4%;
        .listItem{
            list-style-type: none;
            
        }
        li{
            padding:0 0 0 8%;
            list-style: disc;
            list-style-position: inside;
            
        }
    }
}

