main {
    padding: 0 5%;
    // height: 2000px;
    width:100%;
    @media @mobile {
        padding: 0
    }
}
.banner{
    .flex();
    background: url(../images/deskPhoto.jpg) 100%/cover fixed no-repeat;
    height: 100vh;
    width:100%;
    text-align: center;
    div{
        background-color: #3339;
        padding: 3%;
        width:45%;
        .flex(@direction:column);   
       @media @mobile{
           width:90%;
       }
        h1{
            color: @green;
            font-weight: bolder;

        }
        h2, h3{
            color: @grey;
            font-weight: bold;
        }
        button{
            padding: 5% 20%;
            width:fit-content;
            margin:5% 0;
            border-radius: 30px;
            background-color: @grey;
            border: none;
            white-space: nowrap;
            cursor: pointer;
        }
        a{
            cursor: pointer;
        }
    }
}
.upload{
    width:100%;
    padding-top: 80px;
    .flex(@justify:space-between);
    .text{
        width:48%;
        b{
            font-size: 2.4rem;
            font-weight:bolder;
        }
        p{
            max-width: 70ch;
        }
    }
    img{
        width:48%;
    }
}
.images{
    width:100%;
    margin: 5% 0;
    .flex(@direction:row-reverse,@justify:space-between);
    background-color: @darkGreen;
    color: @white;
   .text{
       width:48%;
       b{
            font-size: 2.4rem;
            font-weight: 900;
       }
       p{
        max-width: 70ch;
    }
   }
   img{
       width: 48%;
   }
}
.search{
    margin-bottom: 3%;
    width:100%;
    height:50vh;
    .flex(@justify:flex-start;);
    .text{
        .flex(@direction:column);
        width:50%;
        height:50vh;
        b{
            font-weight: 900; 
            font-size: 2.4rem;
        }
        p{
            max-width: 70ch;
        }
    }
    .notebook{
        width:50%;
        height:50vh;
        background: url(../images/notebook.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: fixed;
        padding-top: 8%;
        .listItem{
            list-style-type: none;
        }
        li{
            padding:0 0 0 15%;
            list-style: disc;
            list-style-position: inside;
            
        }
    }
}

